body,
html {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Alatsi", sans-serif;
}
* {
  box-sizing: border-box;
}
.birthday-card {
  height: 9vh;
  height: 100vh;
  position: relative;
  display: inline-block;

  h2 {
    position: absolute;
    bottom: 0;
    left: calc((100% - 600px) / 2);
    width: 600px;
    height: 600px;
    top: 50%;
    text-align: center;
    color: white;
  }
}

.person-card {
  position: absolute;
  left: calc((100% - 394.234px) / 2);
  top: 6%;
  img {
    width: 77%;
    border-radius: 50%;
    border: 5px solid #ebc965;
  }
}

.reason-determiner {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .form-container {
    margin-top: 50vh;
    border: 1px solid grey;
    display: inline-block;
    position: relative;
    display: flex;
    border-radius: 20px;
    margin: 0 30px;
  }

  input {
    width: 89%;
    margin-left: 1%;
    border: none;
    outline: none;
    padding: 8px 0;
  }

  button {
    border-radius: 20px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 10%;
    text-transform: uppercase;
    font-size: 10px;
  }

  .progress-bar {
    height: 3px;
    width: 40%;
    margin-left: 30px;
    display: inline-block;
    background-color: #eeeeee;

    .progress {
      position: relative;
      background-color: black;
      height: 3px;
    }
  }
}

// .progress-container {
//   border: solid;
// }

.upload-button {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  margin-left: 30px;
  width: 20%;
}

.rotate-buttons {
  position: absolute;
  right: -50%;
  top: 50%;
  button {
    margin: 0 2px;
    cursor: pointer;
  }
  img {
    width: 18px;
  }

  .back-button {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin-left: 40px;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}

.controls {
  position: absolute;
  right: -180%;
  top: 30%;
  text-align: center;
  button {
    cursor: pointer;
  }
  img {
    width: 20px;
  }
  .right-left {
    display: flex;
    justify-content: space-between;
    width: 130px;
    // border: solid;
  }
}
